.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  background-color: #383e46;
  color: #bb86fc;
  font-family: cursive;
  height: 40px;
}

.heading {
  margin-bottom: 0;
}

.heading > i{
  color: white;
}

.heading > i:hover{
  cursor: pointer;
}

.dropdown {
  position: relative;
  outline: none;
  background: transparent;
}

.btn {
  background: transparent;
  width: 150px;
  height: 35px;
  outline: none;
  padding: 0;
  font-size: 20px;
}

.btn:hover {

}

.select {
  height: 40px;
  outline: none;
}

.select:hover {
  cursor: pointer;
  outline: none;
}

.select > hr {
  position: relative;
  top: -1rem;
}

.select:focus {
  background-color: aqua;
  outline: none;
}

@media only screen and (max-width: 425px) {
  .btn {
    width: 120px;
    height: 35px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 375px) {
  .btn {
    width: 100px;
    height: 35px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .heading {
      font-size: 14px;
  }
  .btn {
    width: 90px;
    height: 35px;
    font-size: 16px;
  }
}


@media only screen and (max-width: 250px) {
    .heading {
        font-size: 12px;
    }
    .btn {
      width: 80px;
      height: 35px;
      font-size: 14px;
    }
  }
  